# next-auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Azure AD App Registration
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID

# Object ID of the Azure AD security group allowed to access this app
AZURE_ALLOWED_GROUP_ID=
